.PlayerInfo {
  text-align: left;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 2px solid #707070;
  border-radius: 5px;
  line-height: 40%;
  min-width: 5rem;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.PlayerInfo > p:first-child {
  font-weight: bold;
}

.MomentEvent {
  font-size: 1.2rem;
}

.Rules,
.CheatSheet {
  cursor: pointer;
  text-align: left;
  position: absolute;
  left: 10px;
  top: 80px;
  border-radius: 5px;
  line-height: 40%;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  width: 6.3rem;

  display: flex;
  justify-content: center;
}

.HomeRules {
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  width: 6.8rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.CheatSheet {
  top: 110px;
}

.CheatSheetModal {
  outline: none;
  position: absolute;
  top: 100px;
  left: 5px;
  right: 5px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
}

.CheatSheetContainer img {
  margin-top: 5px;
  width: 100%;
  height: auto;
}

.Rules p,
.HomeRules p,
.CheatSheet p {
  font-size: 12px;
  margin: 8px;
  margin-left: 0px;
  margin-right: 2px;
  display: inline-block;
}

.RulesContent h1,
h3 {
  line-height: 5px;
}

.RulesContent h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.RulesContent h3 {
  text-decoration: underline;
}

.RulesContainer {
  overflow: hidden;
}

.RulesContent {
  overflow-y: hidden;
}

.InfoIcon {
  display: inline-block;
}

.CloseModalButton {
  top: 10px;
  left: 10px;
  padding: 0.4rem;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
}

.CloseModalButton:hover {
  background-color: #2b2b2b;
  color: white;
  transition-property: all;
  transition-delay: 100ms;
}

.cls-1,
.cls-4 {
  fill: none;
}

.cls-1 {
  stroke: #2c2c2c;
}

.cls-2 {
  fill: #2c2c2c;
  font-size: 16px;
  font-family: MalayalamSangamMN, Malayalam Sangam MN;
}

.cls-3 {
  stroke: none;
}

.cls-5,
.cls-8 {
  fill: none;
}

.cls-5 {
  stroke: #707070;
}

.cls-6 {
  fill: #767676;
  font-size: 16px;
  font-family: MalayalamSangamMN, Malayalam Sangam MN;
}

.cls-7 {
  stroke: none;
}

.InfluenceSection {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 27rem;
}

.InfluenceSection p {
  text-align: center;
}

.InfluenceSection h3 {
  text-align: center;
}

.InfluenceUnitContainer {
  width: 220px;
  text-align: center;
  display: inline-block;
}

.PlayerBoardContainer {
  position: absolute;
  left: 0;
  top: 7rem;
  display: flex;
  flex-direction: column;
}

.CurrentPlayer {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 5px;
  font-weight: 500;
}

.EventLogContainer {
  border-right: 2px solid #707070;
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  font-size: 12px;
  right: 15px;
  top: 60px;
  text-align: right;
  line-height: 40%;
}

.EventLogBody {
  overflow-y: scroll;
  height: 9vh;
  padding-right: 3px;
}

.EventLogTitle {
  margin: 0;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.new {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.GameContainer {
  display: flex;
  flex-direction: column;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.DecisionsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DecisionsSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DecisionButtonsContainer > div {
  display: flex;
  flex-direction: row;
}

.DecisionsSection button {
  min-width: 100px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  background-color: #8a8585;
  border: none;
  color: white;
  margin: 6px;
  margin-bottom: 0px;
  font-size: 12px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.DecisionsSection button:hover {
  transform: scale(1.05);
  transition-property: all;
  transition-duration: 300ms;
}

#captain {
  background-color: #80c6e5;
}

#duke {
  background-color: #d55dc7;
}

#assassin {
  background-color: #2b2b2b;
}

#contessa {
  background-color: #e35646;
}

#ambassador {
  background-color: #b4ca1f;
}

#captain-color {
  color: #80c6e5;
}

#duke-color {
  color: #d55dc7;
}

#assassin-color {
  color: #2b2b2b;
}

#contessa-color {
  color: #e35646;
}

#ambassador-color {
  color: #b4ca1f;
}

.DecisionTitle {
  margin-left: 22px;
}
