.PlayerBoardItem {
  margin-bottom: 0.4rem;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 500;
  height: 1.6rem;
  width: 8.4rem;

  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  position: relative;
}

.PlayerBoardItem > h2 {
  font-size: 12px;
  font-weight: 600;
  margin-left: 0.2rem;
  margin-top: 5px
}

.PlayerBoardItem > div {
  display: flex;
  position: absolute;
  right: 0;
  top: -0.8rem;
}

.PlayerBoardItem > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.PlayerBoardItem > div > span > p {
  font-weight: 600;
}

.PlayerBoardItem > div > span > svg {
  margin-right: 0.2rem;
}
