body {
  margin: 0;
  background-color: cadetblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Muli", sans-serif;
}

p,
b,
h1,
h2,
h3 {
  font-family: "Muli", sans-serif;
}

input[type="text"]:focus {
  border: 2px solid #555;
}

button {
  cursor: pointer;
  border-radius: 8px;
}

input,
a {
  border-radius: 8px;
}

input {
  border: 2px solid #bcbcbc;
}

.version-number {
  color: #bcbcbc;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.website-link {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  background-color: #f2f2f2;
  padding: 5px;
  transition-duration: 0.3s;
}

.website-link:hover {
  color: #ffffff;
  background-color: #2b2b2b;
}

.createGameContainer,
.joinGameContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}

.createGameContainer > input {
  width: 14rem;
  height: 3rem;
  padding: 0 0.6rem;
  font-size: 20px;
  outline: none;
}

.joinGameContainer > input {
  width: 14rem;
  height: 3rem;
  padding: 0 0.6rem;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0.6rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer > div:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer > span > a {
  text-decoration: line-through;
}

.homeModalContainer {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.homeContainer img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Home */
.createBtn,
.joinBtn {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  width: 12.5rem;
  font-family: "Muli", sans-serif;
  background-color: #73c373;
  border: none;
  color: white;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.RoomCode {
  background-color: #f2f2f2;
  border: 2px solid #707070;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.createButton,
.joinButton {
  width: 15.4rem;
  height: 3rem;
  font-family: "Muli", sans-serif;
  background-color: #73c373;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.createButton:disabled,
.joinButton:disabled {
  background-color: #2b2b2b;
}

.startGameButton {
  font-family: "Muli", sans-serif;
  background-color: #5fc15f;
  width: 15.4rem;
  border: none;
  color: white;
  margin: 20px;
  margin-bottom: 0px;
  text-align: left;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

.readyUnitContainer {
  width: 205px;
  text-align: center;
  margin: 0 auto;
}

.readyUnit {
  width: 200px;
  font-family: "Muli", sans-serif;
  background-color: #73c373;
  border: none;
  padding-left: 5px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.readyUnit b {
  text-align: right;
}

.readyUnit p,
.readyUnit b {
  color: #ffffff;
}

.hover:hover {
  transform: scale(1.05);
  transition-property: all;
  transition-duration: 300ms;
}

.btn-def {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 412px) {
  .InfluenceUnitContainer > div > img {
    display: none;
  }
}
